{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}"> <!-- Link to your CSS file -->
</head>
<body>

<div class="tab">
    <a href="{% url 'dashboard' %}" class="tablinks">Dashboard</a>
    <a href="{% url 'customer_explore' %}" class="tablinks">Explore</a>
    <a href="{% url 'customer_appointments' %}" class="tablinks">My Appointments</a>
    <a href="{% url 'customer_profile' %}" class="tablinks">Profile</a>
</div>

<h3>Explore Content</h3>

<div id="map" style="height: 400px; width: 100%;"></div>

<span>Hello, {{request.user}}</span>
<span><a href="{% url 'logout_customer' %}">Logout</a></span>

<script>
// Function to add the click event listener
function addInfoWindow(marker, infoWindow, map) {
    marker.addListener('click', function() {
        infoWindow.open(map, marker);
    });
}

// Attach the initMap function to the window object
window.initMap = function() {
    console.log("initMap called");
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: {lat: {{ latitude }}, lng: {{ longitude }}}
    });

    // Remove "places" on map (other business pins)
    var noPoi = [
        {
            featureType: "poi",
            stylers: [
              { visibility: "off" }
            ]   
        }
    ];
    map.setOptions({styles: noPoi});

    // Define the image to be used as marker icon
    var icon = {
        url: "{% static 'images/pin_icon.png' %}", // path to the image file
        scaledSize: new google.maps.Size(50, 50), // size of the icon
        origin: new google.maps.Point(0, 0), // origin of the image
        anchor: new google.maps.Point(0, 0) // anchor point of the image
    };

    // Check if there are any barbers to display
    {% if has_barbers %}
        // Add a marker and an infoWindow for each barber location
        {% for barber in barbers_details %}
            console.log("Adding marker for barber:", {lat: {{ barber.latitude }}, lng: {{ barber.longitude }}});
            var marker = new google.maps.Marker({
                position: {lat: {{ barber.latitude }}, lng: {{ barber.longitude }}},
                map: map,
                icon: icon // use the custom icon
            });

            var infoWindow = new google.maps.InfoWindow({
                content: '<h3>' + "{{ barber.name }}" + '</h3>' +
                        '<p>' + "{{ barber.location }}" + '</p>' +
                        '<p><strong>Bio:</strong> ' + "{{ barber.bio|escapejs }}" + '</p>' +
                        '<p><strong>Experience:</strong> ' + "{{ barber.experience_years }}" + ' years</p>' +
                        '<p><strong>Service Menu:</strong> ' + "{{ barber.service_menu|escapejs }}" + '</p>' +
                        ( "{{ barber.profile_picture_url }}" !== 'null' ? '<img src="' + "{{ barber.profile_picture_url }}" + '" alt="Profile Picture" style="width:100px;height:100px;">' : '' ) +
                        '<p><a href="{% url 'create_appointment_with_barber' barber.id %}">Book an Appointment</a></p>'
            });

            // Use a separate function to add the click event listener
            addInfoWindow(marker, infoWindow, map);
        {% endfor %}
    {% else %}
        // Handle case where there are no barbers
        console.log("No barbers found");
        var noBarbersMessage = document.createElement('p');
        noBarbersMessage.textContent = 'No barbers are available at the moment.';
        document.body.appendChild(noBarbersMessage);
    {% endif %}
}
</script>

<!-- Include the Google Maps API script -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3Bk4vpGUe1hsJf6qbzfUHUtmrB6nIL5E&callback=initMap">
</script>

</body>
</html>
