{% load static %} <!-- Load static tag library -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}"> <!-- Link to your CSS file -->
</head>
<body>

<div class="tab">
    <a href="{% url 'customer_dashboard' %}" class="tablinks">Dashboard</a>
    <a href="{% url 'customer_explore' %}" class="tablinks">Explore</a>
    <a href="{% url 'customer_appointments' %}" class="tablinks">My Appointments</a>
    <a href="{% url 'customer_profile' %}" class="tablinks">Profile</a>
</div>

<!-- Content for Appointments tab goes here -->
<h3>Appointments Content</h3>

<span>Hello, {{request.user}}</span>
<span><a href="{% url 'logout_customer' %}">Logout</a></span>

<script src="{% static 'scripts.js' %}"></script> <!-- Link to your JavaScript file -->
</body>
</html>
