<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Project!</title>
</head>
<body>
    <h1>Welcome to My Project!</h1>
<form method="post" action="{% url 'role_selection' %}">
    {% csrf_token %}
    <label for="role">Select your role:</label>
    <select name="role" id="role">
        <option value="barber">Barber</option>
        <option value="customer">Customer</option>
    </select>
    <button type="submit">Continue</button>
</form>


<p>Already registered?</p>
<p><a href="{% url 'barber_login' %}">Barber Login</a></p>
<p><a href="{% url 'customer_login' %}">Customer Login</a></p>


</body>
</html>